.social-media {
  position: fixed;
  bottom: 5%;
  right: 2%;
  display:flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10;
}

.whatsapp {
 display:flex;
 justify-content: center;
 align-items:center;
 font-size: 20px;
 font-weight: 900;
  background-color: green;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

.facebook {
 display:flex;
 justify-content: center;
 align-items:center;
 font-size: 20px;
 font-weight: 900;
  background-color: blue;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

.call_us {
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  font-weight: 900; 
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
}