.cards-container {
  display:flex;
  padding: 0px 175px 0px 136px;
  gap: 53px;
  justify-content: space-between;
}

.card1 {
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  height: 304px;
  width: 341px;
  display:flex;
  flex-direction: column;
  padding-left: 32px;
  padding-top: 34px;
  gap: 10px;
}

.card1 img {
  display:flex;
  padding: 5px 5px 5px 7px;
  height: 41px;
  width: 41px;
  gap:15px;
}

.card2 {
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  height: 304px;
  width: 341px;
  display:flex;
  flex-direction: column;
  padding-left: 32px;
  padding-top: 34px;
  gap: 10px;
  margin-top: 55px;
}

.card2 img {
  display:flex;
  padding: 7px 5px 5px 9px;
    height: 39px;
  width: 39px;
  gap:15px;

}

.card3 {
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  height: 304px;
  width: 341px;
  display:flex;
  flex-direction: column;
  padding-left: 32px;
  padding-top: 34px;
  gap: 10px;
  margin-top: 110px;
}

.card3 img {
  padding-top: -10px;
  display:flex;
  height: 64px;
  width: 64px;
  gap:15px;
  margin-top: -10px;
  padding-left: 5px;
}

.card-icon {
  height: 56px;
  width: 56px;
  background-color:#33374E;
  gap: 15px;
}

.card-header {
font-family: "Inter", sans-serif;
font-size: 30px;
font-weight: 500;
line-height: 36px;
}

.card-description {
font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #A0A0A0;
}


