.footer-container {
  margin-top: 243px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  height: 187px;
  width: 1199px;
}

.footer-logo {
  height: 187px;
  width: 187px;
}

.footer-menu {
  display:flex;
  gap: 80px;
  align-items: center;
  margin-left: 110px;
}

.footer-menu > li {
list-style: none;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #B6B6B6;
}

.footer-menu > li.active {
  color: black;
  }

.footer-socials {
margin-left: 181px;
display:flex;
gap: 71px;
align-items: center;
}

.footer-copyright {
  background-color: #363B52;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  height: 66px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
