.statistics-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 128px 0px 136px;
  margin-bottom: 167px;
}

.statistics-div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.statistics-number {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 129.5%;
}

.statistics-description {
  font-family: "Inter" sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #b0b0b0;
}
